 <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" class="app-sidenav" [opened]="false">
    <mat-nav-list class="custom-nav">
      <mat-list-item routerLink="/todos" (click)="drawer.close()"  routerLinkActive="active-link">Tasks</mat-list-item>
      <mat-list-item routerLink="/add" (click)="drawer.close()">Add Task</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Top toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TODO App</span>
    </mat-toolbar>

    <!-- Main content -->
    <div class="main-content p-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 
